[submodule "core"]
	path = core
	url = https://github.com/WL-hosted/wl-hosted-core.git
[submodule "third_party/easylogger"]
	path = third_party/easylogger
	url = https://github.com/armink/EasyLogger.git
[submodule "third_party/lwip"]
	path = third_party/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "third_party/mynewt-nimble"]
	path = third_party/mynewt-nimble
	url = https://github.com/apache/mynewt-nimble.git
[submodule "third_party/mynewt-core"]
	path = third_party/mynewt-core
	url = https://github.com/apache/mynewt-core.git
[submodule "third_party/mbedtls"]
	path = third_party/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
