[submodule "core"]
	path = core
	url = https://github.com/WL-hosted/wl-hosted-core.git
[submodule "third_party/easylogger"]
	path = third_party/easylogger
	url = https://github.com/armink/EasyLogger.git
[submodule "third_party/lwip"]
	path = third_party/lwip
	url = https://github.com/lwip-tcpip/lwip.git
